* {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}

:root {
  --overlay-color: rgba(0, 0, 0, 0.5);
  --font-color-blue: rgb(190, 199, 228);
  --font-color-white: rgb(221, 224, 231);
  --button-color: rgb(45, 46, 56);
  --font-color-dark: rgb(45, 46, 56);
  --main-background-color: rgb(26, 27, 32);
  --results-background-color: rgb(34, 35, 43);
  --light-border: rgba(255, 255, 255, 0.1);
  --card-grow-before: translate3D(0, -1px, 0) scale(1);
  --card-grow-after: translate3D(0, -1px, 0) scale(1.03);
  --card-shrink-before: translate3D(0, -1px, 0) scale(0.9);
  --button-grow: translate(0px, 0px) scale(1.1, 1.1);
  --img-background-color: rgb(66, 67, 82);
  --chip-gradient: linear-gradient(
    to left,
    var(var(--main-background-color)) 20%,
    rgba(255, 255, 255, 0) 80%
  );
}

body {
  margin: 0;
  padding-top: 6rem;
  min-height: 100vh;
  background-color: var(--main-background-color);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 4rem;
  min-height: 100vh;
  z-index: 9;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: rgba(190, 199, 228, 0.5);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.skeleton-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  gap: 0.7rem;
}

.empty-rating-tag {
  width: 56px;
  height: 28px;
  background-color: var(--button-color);
  border-radius: 0.4rem;
}

.skeleton-image {
  width: 70px;
  height: 70px;
  background-color: var(--button-color);
  border-radius: 0.7rem;
}

.skeleton-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.skeleton-details-large {
  width: 200px;
  height: 1.4rem;
  background-color: var(--button-color);
  border-radius: 16px;
}

.skeleton-details-small {
  width: 150px;
  height: 1.4rem;
  background-color: var(--button-color);
  border-radius: 16px;
}

.empty-rating-pill {
  width: 308px;
  height: 0.35rem;
  background-color: var(--button-color);
  border-radius: 30px;
  overflow: hidden;
}

.rating-pill {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) var(--progress, 0),
    rgba(9, 9, 121, 0) var(--progress, 0)
  );

  width: 308px;
  height: 0.35rem;
  background-color: var(--button-color);
  border-radius: 30px;
  overflow: hidden;
}

.score-pill {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) var(--progress, 0),
    rgba(9, 9, 121, 0) var(--progress, 0)
  );

  width: 308px;
  height: 0.35rem;
  background-color: var(--button-color);
  border-radius: 30px;
  overflow: hidden;
}

.goals-pill {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) var(--progress, 0),
    rgba(9, 9, 121, 0) var(--progress, 0)
  );

  width: 308px;
  height: 0.35rem;
  background-color: var(--button-color);
  border-radius: 30px;
  overflow: hidden;
}

.shooting-pill {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) var(--progress, 0),
    rgba(9, 9, 121, 0) var(--progress, 0)
  );

  width: 308px;
  height: 0.35rem;
  background-color: var(--button-color);
  border-radius: 30px;
  overflow: hidden;
}

.goalpart-pill {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) var(--progress, 0),
    rgba(9, 9, 121, 0) var(--progress, 0)
  );

  width: 308px;
  height: 0.35rem;
  background-color: var(--button-color);
  border-radius: 30px;
  overflow: hidden;
}

.small-box-list-item-skeleton-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 66px;
}

.small-box-list-item-skeleton-stats-matches {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 148px;
}

.small-box-list-item-skeleton-events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 66px;
}

.skeleton-event {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 200px;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  color: var(--font-color-blue);
  font-size: 1.1rem;
  font-weight: 600;
}

/* event participants */

.event-participants-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 1rem 0 1rem;
}

.global-small-box-event-part {
  display: grid;
  grid-template-rows: 57px auto;
  width: 340px;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.global-small-box-event-part a {
  text-decoration: none;
}

.small-box-list-item-event-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color-white);
  white-space: wrap;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.small-box-list-item-event-part a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-box-list-item-event-part:hover {
  background-color: var(--button-color);
  cursor: pointer;

  .global-small-tag,
  .global-tags,
  .global-fine-print-wrapped-tag,
  .empty-pill {
    background-color: var(--main-background-color);
  }
}

.event-participants-skeleton-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.small-box-list-item-title-participants {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-white);
  white-space: wrap;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  gap: 0.5rem;
}

.small-box-list-item-title-participants a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-box-list-item-title-participants:hover {
  background-color: var(--button-color);
}

.event-participant-team-image {
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
}

.small-box-list-item-skeleton-stats-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.small-box-list-item-skeleton-stats-wrapper-matches {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.global-search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 20;
}

.fullscreen-search-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 27, 32, 0.95);
  z-index: 10;
}

.global-search-bar {
  display: flex;
  align-items: center;
  background-color: var(--results-background-color);
  color: var(--font-color-blue);
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1rem;
  width: 35%;
  min-width: 20rem;
  border: none;
  border-radius: 0.7rem;
  padding: 1.3rem;
  outline: none;
  z-index: 11;
}

.small-search-bar {
  display: flex;
  align-items: center;
  background-color: var(--button-color);
  color: var(--font-color-blue);
  font-weight: 600;
  font-size: 0.9rem;
  width: 250px;
  min-width: 10rem;
  max-height: 42.6px;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  outline: none;
  z-index: 11;
}

.results-wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  z-index: 11;
}

/* home page */

.featured-articles-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.featured-articles-list li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 340px;
  padding: 0.7rem;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  transition: all 100ms;
}

.featured-articles-list li:hover {
  background-color: var(--button-color);
  transition: all 100ms;
}

.featured-articles-list a {
  text-decoration: none;
}

.arcadia-home-header-wrapper {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0 0 3rem 0;
  flex-direction: column;
  gap: 0.5rem;
}

.arcadia-home-header-wrapper .arcadia-logo-home {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.branding-header-wrapper {
  display: flex;
  height: fit-content;
  gap: 0.5rem;
  align-items: center;
}

.arcadia-home-header {
  color: var(--font-color-blue);
  font-size: clamp(3rem, 2.5vw, 5rem);
  margin: 0;
}

.home-big-buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4.5rem;
  gap: 2rem;
}

.big-players-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--font-color-blue);
  padding: 4rem;
  min-width: 240px;
  height: fit-content;
  border-radius: 0.7rem;
  background-color: var(--results-background-color);
  transition: all 150ms;
}

.big-players-button:hover {
  background-color: var(--button-color);
  transition: all 150ms;
}

.featured-lists-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.featured-events-list,
.featured-teams-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.featured-events-list a,
.featured-teams-list a {
  text-decoration: none;
}

.featured-heading-text {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -1.7rem;
  left: 0.7rem;
  z-index: 1;
  color: var(--font-color-blue);
  font-size: 1rem;
  font-weight: 550;
}

.featured-events-list > a:nth-child(n + 31) {
  display: none;
}

.featured-small-text {
  margin: 0;
  padding: 0;
  color: var(--font-color-white);
  font-weight: 550;
  font-size: 0.95rem;
  height: fit-content;
  width: fit-content;
}

.featured-events-list li {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  background-color: var(--results-background-color);
  border-radius: 0.4rem;
  min-width: 650px;
  max-width: 650px;
  min-height: 40px;
  white-space: wrap;
  transition: all 100ms;
}

.featured-teams-list li {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1rem;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  width: 340px;
  height: 80px;
  gap: 0.5rem;
  white-space: wrap;
  transition: all 100ms;
}

.featured-teams-list li img {
  background-color: var(--img-background-color);
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.featured-events-list li:hover,
.featured-teams-list li:hover {
  background-color: var(--button-color);
  transition: all 100ms;
}

.featured-events-tier-region-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 0.5rem;
}

.featured-events-loading-list,
.featured-teams-loading-list,
.featured-news-loading-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  margin: 0;
  padding: 0;
}

.featured-events-loading-list li {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1rem;
  height: 40px;
  min-height: 40px;
  max-width: 650px;
  min-width: 650px;
  background-color: var(--results-background-color);
  border-radius: 0.4rem;
}

.featured-teams-loading-list li {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1rem;
  height: 80px;
  min-height: 80px;
  max-width: 340px;
  background-color: var(--results-background-color);
  border-radius: 0.4rem;
}

.featured-news-loading-list li {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 1rem;
  height: 80px;
  min-height: 80px;
  max-width: 340px;
  background-color: var(--results-background-color);
  border-radius: 0.4rem;
}

.featured-teams-img-loading {
  width: 45px;
  height: 45px;
  background-color: var(--button-color);
  border-radius: 0.4rem;
}

/* navbar */

.nav-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(26, 27, 32, 0.6);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--button-color);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  gap: 0.5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 19;
}

.nav-wrapper .arcadia-logo {
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  width: 25px;
}

.clickable-logo {
  width: 25px;
  height: 25px;
}

.nav-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem 0 0.7rem;
  gap: 0.5rem;
}

.nav-item,
.nav-item-home {
  color: var(--font-color-blue);
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  transition: all 150ms;
}

.nav-item a,
.nav-item-home a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-item-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: fit-content;
  height: fit-content;
  padding: 0.45rem 1rem 0.45rem 1rem;
  border-radius: 0.7rem;
  background-color: var(--button-color);
  color: var(--font-color-blue);
  font-size: 1rem;
  font-weight: 600;
  transition: all 150ms;
}

.nav-item-search-button:hover {
  cursor: pointer;
  background-color: var(--results-background-color);
  transition: all 150ms;
}

.nav-item:hover,
.nav-item-home:hover {
  background-color: var(--button-color);
  cursor: pointer;
  transition: all 150ms;
}

.search-results-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: var(--results-background-color);
  border-radius: 0.4rem;
  width: 320px;
  height: 496px;
  max-height: 496px;
  min-height: 496px;
  height: fit-content;
  overflow: hidden;
  margin: 0;
}

.search-results-heading-wrapper {
  display: flex;
  flex-direction: column;
}

.search-results-heading-wrapper h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.global-card-header {
  color: white;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.player-list-item,
.team-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  height: 62px;
  min-height: 62px;
  max-height: 62px;
  color: rgb(219, 219, 219);
  padding: 0.7rem 1rem 0.7rem 1rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  position: relative;
}

.player-list-item a,
.team-list-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-tag-name-list-wrapper {
  display: flex;
  flex-direction: column;
}

.player-team-list-image,
.team-list-image {
  width: 2.3rem;
  height: 2.3rem;
  min-width: 2.3rem;
  min-height: 2.3rem;
  padding: 0.4rem;
  background-color: var(--img-background-color);
  border-radius: 0.4rem;
}

.event-list-item {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  height: 124px;
  min-height: 124px;
  max-height: 124px;
  color: rgb(219, 219, 219);
  padding: 1.3rem 1rem 1rem 1rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  position: relative;
}

.event-list-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-list-name {
  font-size: 0.8rem;
  color: var(--font-color-blue);
  white-space: nowrap;
}

.player-country-image-wrapper,
.team-region-image-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.event-list-item-tags-wrapper {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 0.2rem;
  left: 1rem;
}

.event-list-item img {
  padding: 0.5rem;
  background-color: var(--img-background-color);
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0.8rem;
  left: 15.3rem;
}

.event-region-list-item,
.event-tier-list-item {
  background-color: var(--button-color);
  padding: 0.5rem;
  border-radius: 0.4rem;
  width: fit-content;
  height: fit-content;
  font-size: 0.8rem;
  color: var(--font-color-blue);
  font-weight: 600;
}

.player-country-list-tag,
.team-region-list-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 0.4rem;
  height: 2.3rem;
  min-width: 2.3rem;
  min-height: 2.3rem;
  font-size: 0.8rem;
  padding: 0.4rem;
  color: var(--font-color-blue);
  font-weight: 600;
  text-transform: uppercase;
}

.player-list-item:hover,
.team-list-item:hover,
.event-list-item:hover {
  background-color: var(--button-color);
  cursor: pointer;

  .player-country-list-tag,
  .team-region-list-tag,
  .event-region-list-item,
  .event-tier-list-item {
    background-color: var(--main-background-color);
  }
}

.player-header-wrapper,
.team-header-wrapper,
.event-header-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
}

.player-img-name-wrapper,
.team-img-name-wrapper,
.event-img-tags-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.player-team-image,
.team-team-image {
  min-width: 100px;
  min-height: 100px;
  height: 100px;
  width: 100px;
  background-color: var(--img-background-color);
  border-radius: 0.7rem;
  padding: 0.8rem;
}

.player-names-wrapper,
.team-names-wrapper,
.event-names-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.global-body-text {
  margin: 0;
  color: var(--font-color-white);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.global-body-text-blue {
  margin: 0;
  color: var(--font-color-blue);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.global-large-text {
  margin: 0;
  color: var(--font-color-white);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  font-size: 1.2rem;
}

.global-small-text {
  margin: 0;
  color: var(--font-color-white);
  font-weight: 550;
  font-size: 0.95rem;
  width: fit-content;
  transition: all 100ms;
}

.global-small-text-blue {
  margin: 0;
  color: var(--font-color-blue);
  font-weight: 550;
  font-size: 0.95rem;
}

.even-smaller-text {
  margin: 0;
  color: var(--font-color-white);
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.5;
}

.global-fine-print {
  margin: 0;
  color: rgb(183, 189, 202);
  font-weight: 600;
  font-size: 0.75rem;
  width: fit-content;
  white-space: wrap;
}

.global-fine-print-wrapped-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: rgb(183, 189, 202);
  font-weight: 600;
  font-size: 0.75rem;
  white-space: nowrap;
  width: fit-content;
  background-color: var(--main-background-color);
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: all 100ms;
}

.global-fine-print-wrapped-tag-light {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: rgb(183, 189, 202);
  font-weight: 600;
  font-size: 0.75rem;
  width: fit-content;
  background-color: var(--button-color);
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: all 100ms;
  white-space: nowrap;
}

.headings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.global-heading-text {
  color: var(--font-color-blue);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.global-secondary-heading-text {
  color: var(--font-color-blue);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.global-small-heading-text {
  color: var(--font-color-blue);
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  font-weight: 700;
  margin: 0;
}

.player-name-team-wrapper,
.event-name-tag-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: 0.1rem;
}

.player-team-name-page {
  background-color: var(--button-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: fit-content;
}

.global-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  min-width: 40px;
  min-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 150ms;
  color: var(--font-color-blue);
  margin: 0;
}

.global-small-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 0.4rem;
  padding: 0.4rem;
  min-height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 150ms;
  color: var(--font-color-blue);
  margin: 0;
  font-variant-numeric: tabular-nums;
  width: fit-content;
}

.global-small-tag-lowercase {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 0.3rem;
  padding: 0.4rem;
  min-height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 150ms;
  color: var(--font-color-blue);
  margin: 0;
  font-variant-numeric: tabular-nums;
  width: fit-content;
}

.button-small,
.tier-tag,
.date-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 0.4rem;
  padding: 0.7rem;
  width: fit-content;
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  font-weight: 600;
  transition: all 150ms;
  color: var(--font-color-blue);
  margin: 0;
  white-space: nowrap;
}

.button-smallest {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0.6rem;
  border-radius: 0.4rem;
  background-color: var(--font-color-blue);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  color: var(--font-color-dark);
  transition: all 150ms;
  transform: var(--card-grow-before);
}

.button-smallest:hover {
  cursor: pointer;
  transition: all 150ms;
  transform: var(--card-grow-after);
}

.button-large {
  background-color: var(--button-color);
  border-radius: 0.7rem;
  padding: 0.8rem;
  width: fit-content;
  font-weight: 600;
  font-size: 1rem;
  transition: all 150ms;
  color: var(--font-color-blue);
  margin: 0;
}

.button-small:hover {
  background-color: var(--font-color-blue);
  color: var(--font-color-dark);
  transition: all 150ms;
  cursor: pointer;
}

.global-small-image {
  background-color: var(--img-background-color);
  border-radius: 0.5rem;
  padding: 0.8rem;
}

.global-smallest-image {
  background-color: var(--img-background-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.header-chip-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.chip-carousel {
  display: flex;
  gap: 0.5rem;
  width: 100vw;
  justify-content: center;
  padding: 2rem 1rem 0 1rem;
  flex-wrap: wrap;
}

.chip-carousel a {
  text-decoration: none;
}

.chip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  font-size: 1rem;
  height: fit-content;
  width: 121.09px;
  min-width: 100px;
  font-weight: 600;
  color: var(--font-color-blue);
  background-color: var(--button-color);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 150ms;
}

.chip-button.active {
  background-color: var(--font-color-blue);
  color: black;
}

.chip-button.active:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.chip-button:hover {
  border: 1px solid rgb(65, 73, 82);
  transition: all 150ms;
  cursor: pointer;
}

/* Active roster team pages */

.boxes-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

/* boxes-wrapper-groupings */

.player-details-recent-matches-wrapper,
.player-stats-recent-matches-wrapper,
.player-events-links-wrapper,
.event-details-stages-wrapper,
.team-roster-events-wrapper,
.team-stats-other-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.global-small-box {
  display: flex;
  width: 340px;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  flex-direction: column;
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.global-small-box a {
  text-decoration: none;
}

.global-small-box-former-members {
  display: flex;
  width: 340px;
  max-height: 360px;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  flex-direction: column;
  list-style: none;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

.global-small-box-matches {
  display: flex;
  max-width: 340px;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  flex-direction: column;
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.bottom-gradient {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--main-background-color)
  );
}

.global-small-box-matches-events {
  display: flex;
  width: 340px;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  position: relative;
  flex-direction: column;
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.stage-name-icon-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.small-box-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color-white);
  white-space: wrap;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.small-box-list-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-box-list-item-player-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color-white);
  white-space: wrap;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.small-box-list-item-player-links a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-box-list-item-player-links:hover {
  background-color: var(--button-color);
  cursor: pointer;

  .global-small-tag,
  .global-tags,
  .global-fine-print-wrapped-tag,
  .empty-pill {
    background-color: var(--main-background-color);
  }

  .rating-pill {
    background: linear-gradient(
      90deg,
      white 0%,
      white var(--progress, 0),
      rgb(79, 84, 92) var(--progress, 0)
    );
  }
}

.small-box-list-item-matches {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  position: relative;
}

.small-box-list-item-matches a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-box-list-item-matches-buttons {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-start;
}

.small-box-list-item-matches:hover {
  background-color: var(--button-color);
  cursor: pointer;

  .global-small-tag,
  .global-tags,
  .global-fine-print-wrapped-tag,
  .empty-pill {
    background-color: var(--main-background-color);
    transition: all 100ms;
  }

  .rating-pill {
    background: linear-gradient(
      90deg,
      white 0%,
      white var(--progress, 0),
      rgb(79, 84, 92) var(--progress, 0)
    );
  }
}

.recent-matches-blue-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.global-small-box-matches > li:nth-child(n + 7) {
  display: none;
}

.global-small-box-matches-events > li:nth-child(n + 7) {
  display: none;
}

.event-matches-upcoming-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}

.small-box-list-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-white);
  white-space: wrap;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.small-box-list-item-title a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-box-list-item-title:hover {
  background-color: var(--button-color);
  cursor: pointer;
}

.player-tag-coach-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  white-space: wrap;
}

.separator-line {
  width: 100%;
  height: 2px;
  background-color: var(--font-color-dark);
  border-radius: 5px;
}

.player-event-overview-name-tier-wrapper {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  padding-right: 1rem;
}

.recent-matches-orange-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.overview-event-tier-region-wrapper {
  display: flex;
  gap: 0.5rem;
}

.player-tag-roster {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.margin-right-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.lan-stages-wrapper {
  display: flex;
  flex-direction: column;
}

.lan-stages-icon-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.time-date-icon-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.time-date-stage-wrapper {
  display: flex;
  flex-direction: column;
}

.team-name-routing-wrapper:hover {
  .global-small-text {
    color: var(--font-color-blue);
    transition: all 100ms;
  }
}

.team-name-routing-wrapper {
  position: relative;
}

.team-name-routing-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.event-stage-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.small-text-icon-wrapper {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.small-box-list-item:hover {
  background-color: var(--button-color);
  cursor: pointer;

  .global-small-tag,
  .global-tags,
  .global-fine-print-wrapped-tag,
  .empty-pill {
    background-color: var(--main-background-color);
  }

  .rating-pill {
    background: linear-gradient(
      90deg,
      white 0%,
      white var(--progress, 0),
      rgb(79, 84, 92) var(--progress, 0)
    );
  }

  .score-pill {
    background: linear-gradient(
      90deg,
      white 0%,
      white var(--progress, 0),
      rgb(79, 84, 92) var(--progress, 0)
    );
  }

  .goals-pill {
    background: linear-gradient(
      90deg,
      white 0%,
      white var(--progress, 0),
      rgb(79, 84, 92) var(--progress, 0)
    );
  }

  .shooting-pill {
    background: linear-gradient(
      90deg,
      white 0%,
      white var(--progress, 0),
      rgb(79, 84, 92) var(--progress, 0)
    );
  }

  .goalpart-pill {
    background: linear-gradient(
      90deg,
      white 0%,
      white var(--progress, 0),
      rgb(79, 84, 92) var(--progress, 0)
    );
  }
}

.empty-pill {
  width: 90px;
  height: 1rem;
  background-color: var(--button-color);
  border-radius: 30px;
}

/* player stats */

.player-stats-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stat-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.stat-label {
  font-size: 0.9rem;
  font-weight: 500;
}

.num-games-player-stats-box-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

/* recent matches box */

.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.toggle-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--main-background-color);
  border: 1px solid rgba(255, 255, 255, 0);
  color: var(--font-color-blue);
  transition: all 100ms;
  font-weight: 650;
}

.toggle-buttons button.active {
  background-color: var(--font-color-blue);
  color: black;
}

.toggle-buttons button.active:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.toggle-buttons button:hover {
  border: 1px solid var(--button-color);
}

/* footer */

.footer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--button-color);
  width: 100%;
  gap: 4rem;
  z-index: 9;
}

.main-section,
.personal-section,
.thanks-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-section-headers {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(231, 231, 231);
  margin-bottom: 0.5rem;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-button {
  display: flex;
  gap: 0.4rem;
  text-decoration: none;
  color: var(--font-color-white);
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--font-color-white);
}

.footer-button:hover {
  text-decoration: underline;
}

.footer-button:active {
  text-decoration: underline;
}

.copyright {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--results-background-color);
  gap: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--font-color-white);
}

/* player search page */

.filter-tag-button {
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--results-background-color);
  width: 100%;
  height: fit-content;
  transition: all 100ms;
}

.filter-tag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 95%;
  top: 5px;
  left: 5px;
}

.filter-tag-button:hover {
  background-color: var(--button-color);
  transition: all 100ms;
  cursor: pointer;
}

.input-filters-header-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  z-index: 3;
}

.input-filters-header-wrapper-results {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  z-index: 3;
  margin-top: 2rem;
}

.region-dropdown,
.tier-dropdown,
.mode-dropdown,
.sort-dropdown {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 200px;
}

.country-dropdown {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 250px;
}

.dropdown-button {
  padding: 0.8rem;
  background-color: var(--results-background-color);
  color: var(--font-color-white);
  border-radius: 0.4rem;
  font-size: 0.9em;
  font-weight: 550;
  border: none;
  cursor: pointer;
}

.dropdown-button:focus {
  outline: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  background-color: var(--button-color);
  color: var(--font-color-white);
  border-radius: 0.4rem;
  top: 3rem;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 49px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 49px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 49px 3px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 550;
  cursor: pointer;
  transition: all 100ms;
  width: 250px;
}

.dropdown-item-events {
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 550;
  cursor: pointer;
  transition: all 100ms;
  width: 200px;
}

.dropdown-item:hover,
.dropdown-item-events:hover {
  background-color: var(--font-color-blue);
  color: var(--font-color-dark);
  transition: all 100ms;
}

.player-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  width: 340px;
  height: 200px;
  gap: 1rem;
  transition: all 100ms;
}

.player-card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.player-card img {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--img-background-color);
  padding: 0.5rem;
}

.player-card .card-tags-wrapper {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.player-card .main-card-content-wrapper {
  margin-bottom: 3rem;
}

.player-card .card-tag-name-wrapper {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 215px;
  white-space: wrap;
}

.player-card .global-small-text-blue {
  position: absolute;
  left: 1.5rem;
  top: 5.5rem;
}

.player-card .card-small-heading-text {
  color: var(--font-color-blue);
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
}

.event-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  width: 340px;
  height: 200px;
  gap: 1rem;
  transition: all 100ms;
}

.event-card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.event-card img {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  background-color: var(--img-background-color);
  padding: 0.5rem;
}

.event-card .card-tags-wrapper {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.event-card .main-card-content-wrapper {
  margin-bottom: 3rem;
}

.event-card .card-tag-name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 285px;
  white-space: wrap;
}

.event-card .global-small-text-blue {
  position: absolute;
  left: 1.5rem;
  top: 5.5rem;
}

.event-card .card-small-heading-text {
  color: var(--font-color-blue);
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
}

.player-card:hover,
.event-card:hover {
  background-color: var(--button-color);
  transition: all 100ms;
}

.card-results-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 1rem 0 1rem;
}

.card-tag-name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.main-card-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-tags-wrapper {
  display: flex;
  gap: 0.5rem;
}

/* match pages */

.match-tags-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.match-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.match-series-card-wrapper {
  display: flex;
  justify-content: center;
}

.match-series-card {
  display: flex;
  flex-direction: column;
  background-color: var(--results-background-color);
  border-radius: 0.5rem;
  padding: 0 0 1rem 0;
  max-width: 600px;
  text-decoration: none;
  flex: 1;
}

.scores-list-item-match:last-child {
  border-bottom: none;
}

.match-series-card-team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}

.match-series-card-team-header-skeleton {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
  height: 138px;
}

.loading-smallest-image {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  background-color: var(--img-background-color);
}

.blue-team-match-series-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.orange-team-match-series-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.arrow-for-blue-team-name {
  display: flex;
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 1rem;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--button-color);
  transition: 150ms all;
}

.arrow-for-orange-team-name {
  display: flex;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -10px;
  left: 1rem;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--button-color);
  transition: 150ms all;
}

.blue-team-tooltip-name {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--button-color);
  color: var(--font-color-blue);
  font-size: 0.9rem;
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  top: -43px;
  left: 0;
  transition: all 150ms;
}

.blue-team-tooltip-name a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.orange-team-tooltip-name {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--button-color);
  color: var(--font-color-blue);
  font-size: 0.9rem;
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  bottom: -43px;
  right: 0;
  transition: all 150ms;
}

.orange-team-tooltip-name a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.img-with-link-to-team {
  width: 50px;
  height: 50px;
}

.scores-list-item-match {
  display: flex;
  border-bottom: 1px solid var(--light-border);
  padding: 0.8rem 0 0.8rem 0;
}

.scores-list-item-match-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--light-border);
  height: 46.6px;
}

.scores-list-inner-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 2.5rem 0 2.5rem;
}

.match-card-final-li {
  display: flex;
  text-decoration: none;
  padding: 1rem 3rem 0 3rem;
  justify-content: space-between;
}

.match-card-final-li-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.upcoming-match-text {
  display: flex;
  justify-content: center;
}

.match-final-scores {
  color: var(--font-color-blue);
  font-size: 1.2rem;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}

/* player results */

.wrapper-bar-for-centering {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.bar-results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 1rem 1rem 0 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 60%;
}

.bottom-pill-bar {
  height: 0.35rem;
  background-color: var(--button-color);
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
}

.event-name-date-wrapper-bar {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  text-align: justify;
  direction: rtl;
}

.skeleton-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  width: 100%;
  min-height: 120px;
  background-color: var(--results-background-color);
}

.match-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--results-background-color);
  width: 100%;
  position: relative;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 1.5rem;
  gap: 1rem;
}

.match-bar img {
  background-color: var(--img-background-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.match-bar .global-small-text:hover {
  color: var(--font-color-blue);
}

.match-bar .even-smaller-text:hover {
  color: var(--font-color-blue);
}

.match-bar-href {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.match-bar-links {
  text-decoration: none;
  z-index: 2;
}

.match-bar-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.match-bar:hover {
  background-color: var(--button-color);

  .bottom-pill-bar {
    background-color: rgb(79, 84, 92);
  }
}

.all-row-match-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.match-scores-teams-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.match-full-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.date-time-match-bar-wrapper {
  display: flex;
  gap: 0.3rem;
  text-align: justify;
  direction: ltr;
  justify-content: flex-end;
}

.team-img-match-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.team-scores-match-bar-wrapper,
.team-names-match-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.bar-tags-wrapper {
  display: flex;
  gap: 0.3rem;
  justify-content: flex-end;
}

.game-ballchasing-link-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  justify-content: center;
}

.game-ballchasing-link-wrapper a {
  text-decoration: none;
}

.game-ballchasing-link-wrapper:hover {
  .global-small-text-blue {
    color: white;
  }
}

/* @media */

@media screen and (max-width: 1200px) {
  .bar-results-wrapper {
    width: 100%;
    margin: 1rem 0 0 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 1080px) {
  #searchNavButton,
  .global-search-wrapper {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .featured-lists-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-wrapper {
    justify-content: center;
  }

  .featured-events-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .featured-events-list li {
    flex-direction: column;
    gap: 0.5rem;
    min-width: 320px;
    align-items: flex-start;
  }

  .featured-events-loading-list li {
    min-width: 343px;
  }

  .team-img-name-wrapper {
    flex-direction: column;
  }

  .team-names-wrapper {
    align-items: center;
  }

  .global-small-heading-text {
    text-align: center;
    margin: 0 1rem 0 1rem;
  }

  .player-img-name-wrapper {
    flex-direction: column;
  }

  .event-img-tags-wrapper {
    flex-direction: column;
  }

  .nav-item-home {
    display: none;
  }

  .input-filters-header-wrapper {
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  .bar-tags-wrapper {
    display: none;
  }

  .bar-results-wrapper {
    width: 100%;
    margin: 1.5rem 0 0 0;
    border-radius: 0;
  }

  .match-bar-content-wrapper {
    flex-direction: column;
  }

  .event-name-date-wrapper-bar {
    text-align: left;
    direction: ltr;
  }

  .date-time-match-bar-wrapper {
    justify-content: flex-start;
  }

  .match-full-details-wrapper {
    padding-top: 1.5rem;
  }

  .big-players-button {
    padding: 2rem;
  }

  .featured-events-loading-list li {
    min-height: 54.78px;
    width: 100%;
  }

  .home-big-buttons-wrapper {
    gap: 1rem;
  }

  .small-search-bar,
  .dropdown-button {
    font-size: 1rem;
  }

  .filter-tag-wrapper {
    top: 6px;
  }
}

@media screen and (max-width: 600px) {
  .match-series-card {
    border-radius: 0px;
  }
}
